<div class="container">
  <div class="row">
    <h1>Socios</h1>
  </div>
  <div class="row mt-4">
    <h5>Lista de Socios</h5>
  </div>
</div>


<ngx-datatable
  #table
  class="material striped"
  [rows]="rows"
  [columns]="columns"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
  [limit]="20"
  [scrollbarH]="true">

  <ngx-datatable-column name="Acciones">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
     let-rowHeight="rowHeight">
     <div class="btn-actions">
       <a target="_blank" [routerLink]="['/pages', 'socio', row._id]">
         <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         	 viewBox="0 0 59.2 59.2" style="enable-background:new 0 0 59.2 59.2;" xml:space="preserve">
         <g>
         	<path d="M51.062,21.561c-11.889-11.889-31.232-11.889-43.121,0L0,29.501l8.138,8.138c5.944,5.944,13.752,8.917,21.561,8.917
         		s15.616-2.972,21.561-8.917l7.941-7.941L51.062,21.561z M49.845,36.225c-11.109,11.108-29.184,11.108-40.293,0l-6.724-6.724
         		l6.527-6.527c11.109-11.108,29.184-11.108,40.293,0l6.724,6.724L49.845,36.225z"/>
         	<path d="M28.572,21.57c-3.86,0-7,3.14-7,7c0,0.552,0.448,1,1,1s1-0.448,1-1c0-2.757,2.243-5,5-5c0.552,0,1-0.448,1-1
         		S29.125,21.57,28.572,21.57z"/>
         	<path d="M29.572,16.57c-7.168,0-13,5.832-13,13s5.832,13,13,13s13-5.832,13-13S36.741,16.57,29.572,16.57z M29.572,40.57
         		c-6.065,0-11-4.935-11-11s4.935-11,11-11s11,4.935,11,11S35.638,40.57,29.572,40.57z"/>
         </g>
         </svg>
       </a>
       <i class="icons nb-checkmark"></i>
     </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ID" prop="_id" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="ID Usuario" prop="id_de_usuario" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Nombres" prop="nombres" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Apellidos" prop="apellidos" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Rut Socio" prop="rut_socio" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Isapre" prop="isapre" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Estado" prop="estado" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Tmp Suspendido" prop="tmp_suspendido" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Registro en BD" prop="registro_en_bd" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Teléfono 1" prop="telefono_1" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Teléfono 2" prop="telefono_2" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Email Corporativo" prop="email_corporativo" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Email Personal" prop="email_personal" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Correo Preferencia" prop="correo_preferencia" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Ciudad" prop="ciudad" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Region Principal" prop="region_principal" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Región Secunda" prop="region_secundaria" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Dirección Personal" prop="direccion_personal" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Tarifa" prop="tarifa" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Tarifa Fija por Envío" prop="tarifa_fija_por_envio" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Especial Alta UF" prop="especial_alta_uf" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Saldo" prop="saldo" editable="false"></ngx-datatable-column>

</ngx-datatable>