<div class="container">
    <div class="inv-copy bg-12">
        <div class="container padd-lr0">
            <div class="row">
                <div class="col-xs-12">
                    <span>>Queplan.cl - Sistema de socios <a target="_blank"  href="https://twitter.com/QuePlanCl">@QuePlanCl</a></span>
                    <nav class="soc-net">
                        <div class="inv-soc">
                            <a target="_blank" href="https://twitter.com/QuePlanCl" class="fa fa-twitter"></a>
                            <a target="_blank" href="https://www.facebook.com/QuePlanCl/" class="fa fa-facebook"></a>
                            <a target="_blank" href="https://www.linkedin.com/company/queplan.cl" class="fa fa-linkedin"></a>
                            <a href="mailto:contacto@queplan.cl" target="_top"><i class="fa fa-envelope"></i> contacto@queplan.cl</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>