.ngx-datatable.material {
  box-shadow: none;
  border-radius: 0;

  &:not(.cell-selection) .datatable-body-row:hover,
  &:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    background-color: #e6f3ff !important;
  }

  .datatable-header .datatable-header-cell {
    font-family: Exo;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    color: #2a2a2a;
  }

  &.striped .datatable-body {

    .datatable-body-row {
      background-color: #ebeef2;
    }

    .datatable-row-odd {
      background-color: #f5f7fc;
    }
  }
}
