
  <img src="../../assets/images/metlife.png" alt="metlife" class="logo mb-3">
  <h2 class="title">Inicio de Sesión</h2> <small class="form-text sub-title">Ingresa tu
    correo y contraseña para iniciar sesión</small>
  <form class="form" name="form" (ngSubmit)="login(form)" novalidate #form="ngForm" autocomplete="nope">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div>{{ error }}</div>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Correo Electrónico</label>
      <input nbInput
         fullWidth
         [(ngModel)]="user.email"
         #email="ngModel"
         name="email"
         id="input-email"
         pattern=".+@.+\..+"
         placeholder="Correo Electrónico"
         autofocus
         [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
         [required]="true"
         [attr.aria-invalid]="email.invalid && email.touched ? true : null">
       <ng-container *ngIf="email.invalid && email.touched">
         <p class="error-message text-danger" *ngIf="email.errors?.required">
           El email es requerida!
         </p>
         <p class="error-message text-danger" *ngIf="email.errors?.pattern">
           El correo electrónico no es valido!
         </p>
       </ng-container>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Contraseña</label>
      <input nbInput
         fullWidth
         [(ngModel)]="user.password"
         #password="ngModel"
         name="password"
         type="password"
         id="input-password"
         placeholder="Password"
         [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
         [required]="true"
         [minlength]="5"
         [maxlength]="15"
         [attr.aria-invalid]="password.invalid && password.touched ? true : null">
       <ng-container *ngIf="password.invalid && password.touched ">
         <p class="error-message text-danger" *ngIf="password.errors?.required">
           La contraseña es requerida!
         </p>
         <p class="error-message text-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
           La contraseña debe contener de 5 a 15 caracteres.
         </p>
       </ng-container>
      </div>
    <div class="form-control-group accept-group">
      <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Remember me</nb-checkbox>
      <!-- <a class="forgot-password" routerLink="../request-password">Olvidé mi contraseña</a> -->
    </div>
    <button nbButton
      fullWidth
      status="success"
      [disabled]="submitted || !form.valid"
      [class.btn-pulse]="submitted" class="btn-login">Ingresar</button>
  </form>
