<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Asignar Solicitud</h3>
</div>
<div ng-if="!asignado" class="modal-body">
    <verunasolicitud entityfila="entityfila"></verunasolicitud>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="alert alert-danger" ng-if="entityfila.estado_solicitud === 2" role="alert">La solicitud ya fue asignada. Botón bloqueado</div>
        </div>
        <div class="col-xs-12">
            <br>
            <div class="alert alert-danger" ng-if="entityfila.asignado_a !== null" role="alert">La solicitud ya se encuentra con ejecutivo. Botón bloqueado</div>
        </div>
        <div class="col-sm-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Isapre</th>
                        <th>Días en QP</th>
                        <th>Región (1) (2)</th>
                        <th>Comisión</th>
                        <th>Saldo</th>
                        <th>Pendientes</th>
                        <th>Asignados hoy</th>
                        <th>Tasa de cierre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in datossocios">
                        <td>{{x._id}}</td>
                        <td>{{x.nombres}}</td>
                        <td>{{x.apellidos}}</td>
                        <td>{{x.isapre}}</td>
                        <td>{{x.dias_desde_el_ingreso}}</td>
                        <td>{{x.region_principal}}
                            <span ng-if="x.region_secundaria">-</span> {{x.region_secundaria}}</td>
                        <td>{{x.tarifa}} %</td>
                        <td>
                            <b>{{x.saldo | currency:"$":0}}</b>
                        </td>
                        <td> {{x.solicitudes_pendientes}} </td>
                        <td> {{x.asignados_hoy}} </td>
                        <td> {{x.tasa_cierre*100 | number:2}} % </td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="asignarSolicitud(x._id)" ng-disabled="entityfila.estado_solicitud === 2 || entityfila.asignado_a !== null">Asignar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="asignado" class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">Las respuestas aparecerán en 3 cajas. Para las 2 primer verificar que estén en verde y tengan código 250. Errores en rojo o en alertas</div>
    </div>
    <div class="alert alert-success" ng-if="mensajeasginaremail">
        <strong>OK Cliente</strong> {{mensajeasginaremail}}
    </div>

    <div class="alert alert-danger" ng-if="errorasginaremail">
        <strong>ERROR Cliente</strong> {{errorasginaremail}}
    </div>

    <div class="alert alert-success" ng-if="sociomensajeasginaremail">
        <strong>OK Socio</strong> {{sociomensajeasginaremail}}
    </div>

    <div class="alert alert-danger" ng-if="socioerrorasginaremail">
        <strong>ERROR Socio</strong> {{socioerrorasginaremail}}
    </div>

    <div class="alert alert-success" ng-if="cambioDeEstadoCerrado">
        <strong>Cambio de Estado a asignado OK</strong>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cerrarModal()">Cerrar</button>
</div>