<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Solicitud de contratación</title>
    <!-- Designed by https://github.com/kaytcat -->
    <!-- Header image designed by Freepik.com -->


    <style type="text/css">
        /* Take care of image borders and formatting */
        
        img {
            max-width: 600px;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        
        a img {
            border: none;
        }
        
        table {
            border-collapse: collapse !important;
        }
        
        #outlook a {
            padding: 0;
        }
        
        .ReadMsgBody {
            width: 100%;
        }
        
        .ExternalClass {
            width: 100%;
        }
        
        .backgroundTable {
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }
        
        table td {
            border-collapse: collapse;
        }
        
        .ExternalClass * {
            line-height: 115%;
        }
        /* General styling */
        
        td {
            font-family: Arial, sans-serif;
            color: #6f6f6f;
        }
        
        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%;
            height: 100%;
            color: #6f6f6f;
            font-weight: 400;
            font-size: 18px;
        }
        
        h1 {
            margin: 10px 0;
        }
        
        a {
            color: #27aa90;
            text-decoration: none;
        }
        
        .force-full-width {
            width: 100% !important;
        }
        
        .force-width-80 {
            width: 80% !important;
        }
        
        .body-padding {
            padding: 0 75px;
        }
        
        .mobile-align {
            text-align: right;
        }
    </style>

    <style type="text/css" media="screen">
        @media screen {
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900);
            /* Thanks Outlook 2013! */
            * {
                font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
            }
            .w280 {
                width: 280px !important;
            }
        }
    </style>

    <style type="text/css" media="only screen and (max-width: 480px)">
        /* Mobile styles */
        
        @media only screen and (max-width: 480px) {
            table[class*="w320"] {
                width: 320px !important;
            }
            td[class*="w320"] {
                width: 280px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            img[class*="w320"] {
                width: 250px !important;
                height: 67px !important;
            }
            td[class*="mobile-spacing"] {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
            *[class*="mobile-hide"] {
                display: none !important;
            }
            *[class*="mobile-br"] {
                font-size: 12px !important;
            }
            td[class*="mobile-w20"] {
                width: 20px !important;
            }
            img[class*="mobile-w20"] {
                width: 20px !important;
            }
            td[class*="mobile-center"] {
                text-align: center !important;
            }
            table[class*="w100p"] {
                width: 100% !important;
            }
            td[class*="activate-now"] {
                padding-right: 0 !important;
                padding-top: 20px !important;
            }
            td[class*="mobile-block"] {
                display: block !important;
            }
            td[class*="mobile-align"] {
                text-align: left !important;
            }
        }
    </style>
</head>

<body class="body" style="padding:0; margin:0; display:block; background:#eeebeb; -webkit-text-size-adjust:none;" bgcolor="#eeebeb">
    <table align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" valign="top" style="background-color:#eeebeb" width="100%">

                <center>

                    <table cellspacing="0" cellpadding="0" width="600" class="w320">
                        <tr>
                            <td align="center" valign="top">


                                <table style="margin:0 auto;" cellspacing="0" cellpadding="0" width="100%">
                                    <br>
                                    <tr>
                                        <td style="text-align: center;">
                                            <a href="#"><img class="w320" width="270" height="34" src="https://queplan.cl/assets/images/queplanlogo.png" alt="" /></a>
                                        </td>
                                    </tr>
                                    <br>
                                </table>


                                <table cellspacing="0" cellpadding="0" class="force-full-width" style="background-color:#3bcdb0;">
                                    <tr>
                                        <td style="background-color:#3bcdb0;">

                                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                                                <tr>
                                                    <td style="font-size:40px; font-weight: 600; color: #ffffff; text-align:center;" class="mobile-spacing">
                                                        <div class="mobile-br">&nbsp;</div>
                                                       Hola {{datossocio.nombres}}
                                                        <br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:24px; text-align:center; padding: 0 75px; color: #6f6f6f;" class="w320 mobile-spacing">
                                                        Nuevo cliente asignado
                                                    </td>
                                                </tr>
                                            </table>

                                            <table cellspacing="0" cellpadding="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <img src="https://www.filepicker.io/api/file/4BgENLefRVCrgMGTAENj" style="max-width:100%; display:block;">
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                                <table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#ffffff">
                                    <tr>
                                        <td style="background-color:#ffffff; padding-top: 15px;">

                                            <center>
                                                <table style="margin: 0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                                                    <tr>
                                                        <td style="text-align: left;">
														    <br>Se te ha asignado un potencial Cliente. Por favor contactar a la persona lo antes posible. Recuerda que debes reportar un primer estado, de lo contrario este puede ser cobrado.
														    <br>
                                                            <br> Plan <strong>{{datossolicitud.nombre_largo_plan}}</strong> de la Isapre <strong>{{isapreencontrada.nombreisapre}}</strong>
                                                            <br>
                                                            <br> El potencial Cliente ha recibido un correo con el respaldo de su solicitud 
                                                            <br>
                                                        </td>
                                                    </tr>
                                                </table>


                                                <table style="margin:0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                                                    <tr>
                                                        <td class="mobile-block">
                                                            <br>

                                                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                                                                <tr>
                                                                    <td style="border-bottom:1px solid #e3e3e3; font-weight: bold; text-align: left;">
                                                                        Resumen del cliente
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Nombre del cliente
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Rut
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Telefono
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Email
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Nombre del plan
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Código del plan
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Isapre
                                                                    </td>
                                                                </tr>
																<tr>
                                                                    <td style="text-align: left;">
                                                                        Región:
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        Precio calculado <strong>(Confirmar importante!)</strong>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td class="mobile-block">
                                                            <br>

                                                            <table cellspacing="0" cellpadding="0" class="force-full-width">
                                                                <tr>
                                                                    <td style="border-bottom:1px solid #e3e3e3; font-weight: bold;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        <strong>{{datossolicitud.nombrepersona}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        <strong>{{datossolicitud.rutpersona}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        <strong>{{datossolicitud.telefonopersona}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;">
                                                                        <strong>{{datossolicitud.correopersona}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong> {{datossolicitud.nombre_largo_plan}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{datossolicitud.nombreplan}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{isapreencontrada.nombreisapre}}</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
																<tr>
                                                                    <td>
                                                                        <strong>{{datossolicitud.datospersona.region.abv}}</strong> {{datossolicitud.datospersona.region.nombre}} Región
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{datossolicitud.precio_solicitado}} UF</strong>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                        <td class="mobile-block">
                                                            <br>

                                                        </td>
                                                    </tr>
                                                </table>
                                                <table style="margin: 0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                                                    <tr>
                                                        <td style="text-align: left;">
                                                <br>Cotizante principal:
                                                <br>Sexo: <strong>{{datossolicitud.datospersona.cotizante.0.sexo}}</strong>
                                                <br>Edad: <strong>{{datossolicitud.datospersona.cotizante.0.edad}}</strong>
                                                <br>Ingreso: <strong>{{datossolicitud.datospersona.cotizante.0.ingreso}}</strong>
                                                <br>{{#if segundocotizante}}
                                                <br>Segundo cotizante en pareja
                                                <br>Sexo: <strong>{{datossolicitud.datospersona.cotizante.1.sexo}}</strong>
                                                <br>Edad: <strong>{{datossolicitud.datospersona.cotizante.1.edad}}</strong>
                                                <br>Ingreso: <strong>{{datossolicitud.datospersona.cotizante.1.ingreso}}</strong>
                                                <br>{{/if}}
                                                        </td>
                                                    </tr>
                                                </table>


                                                <table style="margin: 0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                                                    <tr>
                                                        <td style="text-align: left;">
                                                            <br>{{cargas}}
                                                            <br>
                                                            {{#each datossolicitud.datospersona.cargas}}
                                                            <br>
                                                            <strong>Carga número {{inc @index}}:</strong>
                                                            <br><strong>Sexo: {{sexo}}</strong>
                                                            <br><strong>Edad: {{edad}}</strong>
                                                            <br>
                                                            {{/each}}
                                                            <br>
                                                            <br>
                                                            <br> Equipo QuePlan.Cl
                                                        </td>
                                                    </tr>
                                                </table>
                                            </center>

                                            <table style="margin:0 auto;" cellspacing="0" cellpadding="10" width="100%">
                                                <tr>
                                                    <td style="text-align:center; margin:0 auto;">
                                                        <br>
                                                        <div>
                                                            <!--[if mso]>
                      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:180px;" stroke="f" fillcolor="#f5774e">
                        <w:anchorlock/>
                        <center>
                      <![endif]-->
                                                            <a href="https://queplan.cl/{{isapreencontrada.urlisapre}}/planes/{{datossolicitud.nombreplan}}" style="background-color:#f5774e;color:#ffffff;display:inline-block;font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:45px;text-align:center;text-decoration:none;width:180px;-webkit-text-size-adjust:none;">Ver plan</a>
                                                            <!--[if mso]>
                        </center>
                      </v:rect>
                    <![endif]-->
                                                        </div>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </table>


                                            <table cellspacing="0" cellpadding="0" bgcolor="#363636" class="force-full-width">
                                                <tr>
                                                    <td style="background-color:#363636; text-align:center;">
                                                        <br>
                                                        <br>
                                                        <a href="https://www.facebook.com/QuePlanCl/">
                                                            <img width="68" height="56" src="https://www.filepicker.io/api/file/W6gXqm5BRL6qSvQRcI7u">
                                                        </a>
                                                        <a href="https://twitter.com/QuePlanCl">
                                                            <img width="61" height="56" src="https://www.filepicker.io/api/file/eV9YfQkBTiaOu9PA9gxv">
                                                        </a>
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#f0f0f0; font-size: 14px; text-align:center; padding-bottom:4px;">
                                                        QuePlan.Cl, primer comparador de planes de isapre en Chile, 2017
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#27aa90; font-size: 14px; text-align:center;">
                                                        <a href="https://queplan.cl">Ver QuePlan.Cl</a> | <a href="https://queplan.cl/contacto">Contacto</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:12px;">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>







                            </td>
                        </tr>
                    </table>

                </center>




            </td>
        </tr>
    </table>
</body>

</html>