<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Entrar</h1>
      <p>Ingresa con tu email y contraseña.</p>
        <p>Para ver tus solicitudes de plan tienes que ser aprobado como socio en el sistema</p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Entra un email y contraseña
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Entra un email válido
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Entrar
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Registrarse
          </a>
        </div>

        <hr/>
<!--        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>-->
      </form>
    </div>
  </div>
  <hr>
</div>
